<div class="panel category-panel">
    <div class="panel-heading category-head">
        <a href="">test</a>
    </div>

    <div class="panel-body category-body">
        <div class="category-meta">
            <div class="col-md-5 col-sm-5 col-xs-8 forum-name">Forum</div>
            <div class="col-md-2 col-sm-2 hidden-xs forum-stats">Topics</div>
            <div class="col-md-2 col-sm-2 hidden-xs forum-stats">Posts</div>
            <div class="col-md-3 col-sm-3 col-xs-4 forum-last-post">Last Post</div>
        </div>
    </div>

</div>
