{% extends "base.html" %}

{% block title %}Lucheng - Index{% endblock %}

{% block content %}
<div class="index-view">
  {% for category, forums in categories %}
    {% include "forum/category_layout.html" %}
  {% endfor %}

  <div class="panel page-panel">

    <div class="panel-heading page-head">
      Board Statistics
    </div>

    <div class="panel-body page-body">
      <div class="row page-row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="flaskbb-stats">Total number of registered users:<strong>{{ user_count }}</strong></p>
          <p class="flaskbb-stats">Total number of topics:<strong>{{ topic_count }}</strong></p>
          <p class="flaskbb-stats">Total number of posts:<strong>{{ post_count }}</strong></p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="flaskbb-stats">Newest registered user:<strong>cheng.lu</strong></p>
          <p class="flaskbb-stats">Registered users online:<strong>1</strong></p>
          <p class="flaskbb-stats">Guests online:<strong>1</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
