{% extends "base.html" %}

{% block title %}Lucheng - Memberlist{% endblock %}

{% block content %}
<div class="page-view">

  <ol class="breadcrumb flaskbb-breadcrumb">
    <li><a href="{{ url_for('forum.index') }}">Forum</a></li>
    <li class="active">Memberlist</li>
  </ol>

  <div class="row controls-row">
    <div class="col-md-8 col-sm-8 col-xs-8 controls-col">
      <div class="pull-left">
        <ul class="pagination">
          <li class="disabled"><a href="#"><span class="pages-label">Pages:</span></a></li>
          {% for p in users.iter_pages() %}
            {% if p %}
              {% if p != users.page %}
                <li><a href="{{ url_for('forum.memberlist', page=p)}}">{{ p }}</a></li>
              {% else %}
                <li class="active"><a href="#">{{ p }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if users.has_next %}
            <li><a href="{{ url_for('forum.memberlist', page=users.next_num)}}">&raquo;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4 controls-col">
      <div class="pull-right">
        <form class="inline-form" role="form" method="post">
          {{ search_form.hidden_tag() }}
          <div class="input-group">
            {{ search_form.search_query(class="form-control") }}
            <span class="input-group-btn">
              {{ search_form.submit(class="btn btn-primary")}}
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="panel page-panel">
    <div class="panel-heading page-head">
      <a href="{{ url_for('forum.memberlist') }}">Memberlist</a>
    </div>
    <div class="panel-body page-body">
      <div class="page-meta">
          <div class="col-md-1 col-sm-1 col-xs-1 meta-item">#</div>
          <div class="col-md-3 col-sm-3 col-xs-5 meta-item">
              <a href="{{ url_for('forum.memberlist') }}?sort_by=username&order_by={{ order_by }}">Username</a>
          </div>
          <div class="col-md-3 col-sm-3 hidden-xs meta-item">
              <a href="{{ url_for('forum.memberlist') }}?sort_by=reg_date&order_by={{ order_by }}">Date registered</a>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-5 meta-item">Group</div>
          <div class="col-md-2 col-sm-2 hidden-xs meta-item">
              <a href="{{ url_for('forum.memberlist') }}?sort_by=post_count&order_by={{ order_by }}">Posts</a>
          </div>
      </div>

      {% for user in users.items %}
      <div class="row page-row hover clearfix">
        <div class="col-md-1 col-sm-1 col-xs-1">{{ user.id }}</div>
        <div class="col-md-3 col-sm-3 col-xs-5"><a href="{{ user.url }}">{{ user.username }}</a></div>
        <div class="col-md-3 col-sm-3 hidden-xs"></div>
        <div class="col-md-3 col-sm-3 col-xs-5">{{ user.primary_group.name }}</div>
        <div class="col-md-2 col-sm-2 hidden-xs">{{ user.post_count }}</div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
