{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Lucheng - Login{% endblock %}

{% block content %}

<div class="panel page-panel">
    <div class="panel-heading page-head">
        Login
    </div>

    <div class="panel-body">
      {{ wtf.quick_form(form) }}
      <!--
        <form class="form-horizontal" role="form" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group row">
              <label class="col-sm-3 control-label" for="">{{ form.login.label }}</label>
              <div class="col-sm-4">
                <input type="text" placeholder="placeholder" class="form-control" value="">
              </div>
            </div>

            <div class="control-group row">
              <label class="col-sm-3 control-label" for="{{ form.password.id }}">{{ form.password.label }}</label>
              <div class="col-sm-4">
                <input type="text" placeholder="placeholder" class="form-control" value="">
              </div>
            </div>

            <div class="control-group row">
              <div class="col-sm-offset-3 scol-sm-3">
                <div class="checkbox">
                  <label>
                    <input id="remember_me" name="remember_me" type="checkbox" value="y">
                    Remember me
                  </label>
                </div>
              </div>
            </div>

            <div class="control-group row">
              <div class="col-sm-offset-3 col-sm-3">
                <input class="btn btn-success" id="submit" name="submit" type="submit" value="Login">
              </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                    <a class="pull-left" href="#"><small>Not a member yet?</small></a>
                    <a class="pull-right" href="#"><small>Forgot your Password?</small></a>
                </div>
            </div>
        </form>
      -->
    </div> <!-- end panel-body -->

</div> <!-- end page panel -->

{% endblock %}
